name: .NET Core Desktop

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: windows-latest  

    env:
      Solution_Name: ClipboardNavigator.sln                         
      Test_Project_Path: ClipboardNavigator.Tests\ClipboardNavigator.Tests.csproj             

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Build the application
      run: dotnet build

    - name: Execute unit tests
      run: dotnet test
      
